@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  color: FFD520;
  display: grid;
  overflow: auto;
  background-image: url("/assets/Shave_Dave_20-BestOf_Background-01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}
.Header-image {
  width: 35%;
  min-width: 200px;
  max-width: 400px;
}
.dollars {
  font-size: calc(8px + 6 * ((100vw - 320px) / 680));
}

.Face-style {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.Matchup {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Face-style-container {
  display: grid;
  grid-column: 1fr;
  justify-items: center;
  align-content: center;
}
.Final {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.Wildcard {
  display: flex;
  justify-content: center;
}
.Finalists {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.Container {
  width: 95vw;
  min-width: 300px;
  height: 91vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 5px;
  border-radius: 0.2em;
  overflow: visible;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-gap: 0;
  grid-row-gap: 0;
  max-width: 1000px;
  background-image: url("/public/assets/Shave_Dave_20-BestOf_Background-01.svg");
}
.QuarterARight{
  grid-column: 3/4;
  grid-row: 3/7;
  border-right: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.QuarterAOutput{
  grid-column: 4/5;
  grid-row: 5/6;
  border-top: .4vw solid #c2e7ef;
  padding-bottom: 9vh;
}
#QuarterFinalA {
  margin-top: 10%;
  grid-column: 1/4;
  grid-row: 1/9;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.QuarterBRight{
  grid-column: 3/4;
  grid-row: 11/14;
  border-right: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.QuarterBOutput{
  padding-bottom: 9vh;
  grid-column: 4/5;
  grid-row: 11/12;
  border-bottom: .4vw solid #c2e7ef;
}
#QuarterFinalB {
  margin-top: 10%;
  grid-column: 1/4;
  grid-row: 9/17;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.QuarterCLeft{
  grid-column: 13/14;
  grid-row: 3/7;
  border-left: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.QuarterCOutput{
  padding-bottom: 9vh;
  grid-column: 12/13;
  grid-row: 5/6;
  border-top: .4vw solid #c2e7ef;
}
#QuarterFinalC {
  margin-top: 10%;
  grid-column: 13/16;
  grid-row: 1/9;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.QuarterDLeft{
  grid-column: 13/14;
  grid-row: 11/14;
  border-left: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.QuarterDOutput{
  padding-bottom: 9vh;
  grid-column: 12/13;
  grid-row: 11/12;
  border-bottom: .4vw solid #c2e7ef;
}
#QuarterFinalD {
  margin-top: 10%;
  grid-column: 13/16;
  grid-row: 9/17;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.SemiARight{
  grid-column: 5/6;
  grid-row: 5/12;
  border-right: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.SemiAOutput{
  padding-bottom: 9vh;
  grid-column: 6/8;
  grid-row: 5/6;
  border-bottom: .4vw solid #c2e7ef;
}
#SemiFinalA {
  grid-column: 4/7;
  grid-row: 4/14;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vw;
  margin-bottom: 2vw ;
  z-index: 1;
}
.SemiBLeft{
  grid-column: 11/12;
  grid-row: 5/12;
  border-left: .4vw solid #c2e7ef;
  border-top: .4vw solid #c2e7ef;
  border-bottom: .4vw solid #c2e7ef;
}
.SemiBOutput{
  padding-bottom: 9vh;
  grid-column: 9/11;
  grid-row: 8/9;
  border-bottom: .4vw solid #c2e7ef;
}
#SemiFinalB {
  grid-column: 10/13;
  grid-row: 4/14;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
#Final {
  grid-column: 7/10;
  grid-row: 5/11;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  min-height: 20vw;
}
#total {
  grid-column: 3;
  grid-row: 5;
  color: #fefefe;
  font-size: max(min(3vw, 0.25em), 1em);
}

.App-header {
  height: 17vh;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #000000;
  border-radius: 0 0 0.2em 0.2em;
  overflow: visible;
  width: 100%;
  max-width: 1050px;
}

.body {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-height: calc(100vh - 80px);
  color: #fefefe;
}

.App-link {
  color: #ed1b24;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -20%;
}

.Container .col {
  width: 10%;
}

footer {
  background-color: #a3dce6;
  display: flex;
  justify-items: center;
  width: 95vw;
  bottom: 0;
  height: 50px;
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 0.3em 0.3em 0 0;
}

a {
  color: #7affde;
}
