.App {
  text-align: center;
  color: FFD520;
  display: grid;
  overflow: auto;
  background-image: url("/assets/Shave_Dave_20-BestOf_Background-01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Face-style {
  width: 100%;
  display: flex;
  flex-direction: column;
 
}
.Matchup {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .2em;
}
.Face-style-container{
  display: grid;
  grid-column: 1fr;
  justify-items: center;
  align-content: center;
}
.Final {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .2em;
}
.Wildcard {
  display: flex;
  justify-content: center;
}
.Finalists {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
#QuarterFinalA {
  grid-column: 1;
  grid-row: 1/6;
}
#QuarterFinalB {
  grid-column: 1;
  grid-row: 7/12;
}
#QuarterFinalC {
  grid-column: 5;
  grid-row: 1/6;
}
#QuarterFinalD {
  grid-column: 5;
  grid-row: 7/12;
}
#SemiFinalA {
  grid-column: 2;
  grid-row: 4/10;
}
#SemiFinalB {
  grid-column: 4;
  grid-row: 4/10;
}
#Final {
  grid-column:3;
  grid-row: 5/10;
}
#total {
  grid-column:3;
  grid-row: 5;
  color: #fefefe;
}

.App-header {
  height: 17vh;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: 	#000000;
  border-radius: 0 0 .2em .2em;
  overflow: visable;
}

.body {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-height: calc(100vh - 80px);
}

.App-link {
  color: #ed1b24;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Container {
  width: 95vw;
  height: 91vh;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  justify-content: space-around;
  gap: 5px;
  border-radius: .2em;
  overflow: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url("/public/assets/Shave_Dave_20-BestOf_Background-01.svg")
}

.Container .col {
  width: 10%;
}

footer {
  background-color: #a3dce6;
  display: flex;
  justify-items: center;
  width: 95vw;
  bottom:0;
  height: 50px;
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: .3em .3em 0 0;
}

a {
  color: green;
}