.App {
  text-align: center;
  color: FFD520;
}

.Face-style {
  height: 40vmin;
}
.Matchup {
  display: inline-flex;
  width: 40px;
}

.App-header {
  background-color: #df4400 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 	#000000;
  border-radius: 0 0 .2em .2em;
}

body {
  height: 80vh;
  display: flex;
  justify-content: space-around;
}

.App-link {
  color: #ed1b24;
}

.Container {
  width: 40vw;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: #FBD872;
}
